@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">

    <input type="radio" id="Cow" value="Cow" name="Animal" /><label class="p-1" for="Cow">Cow</label><br />
    <input type="radio" id="Cat" value="Cat" name="Animal" /><label class="p-1" for="Cat">Cat</label><br />
    <input type="radio" id="Dog" value="Dog" name="Animal" /><label class="p-1" for="Dog">Dog</label><br />
    <input type="radio" id="Lion" value="Lion" name="Animal" /><label class="p-1" for="Lion">Lion</label><br />

    <button class="btn btn-success mt-2" type="submit">Submit</button>
</form>
