@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">

    <input type="checkbox" id="Cow" value="Cow" name="Animals" /><label for="Cow">Cow</label><br />
    <input type="checkbox" id="Cat" value="Cat" name="Animals" /><label for="Cat">Cat</label><br />
    <input type="checkbox" id="Dog" value="Dog" name="Animals" /><label for="Dog">Dog</label><br />
    <input type="checkbox" id="Lion" value="Lion" name="Animals" /><label for="Lion">Lion</label><br />

    <button class="btn btn-success mt-2" type="submit">Submit</button>
</form>
