@page
@model ModelBinding.Pages.ResultModel
@{
}

@if (TempData["Animals"] != null)
{
          <p>Animal Selected:</p>

    @foreach (var item in (IList<string>)TempData["Animals"])
    {
    <p>@item</p>
    }
  
}